// Styling for the masthead(Jumbotron)
header.masthead {
  text-align: center;
  background-image: url('../assets/photos/youcan.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 40rem;
  .intro-text {
    &-bg {
      font-size: 3rem;
      color: black;
    }
    &-sm {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      color: black;
    }
  }
}
// For Mobile Version: Different design.
@media (max-width: 576px) {
  header.masthead {
    background-image: url('../assets/photos/top.jpg');
    color: black;
    .intro-text {
      &-bg {
        font-size: 1.3rem;
        color: black;
      }
      &-sm {
        font-size: 1rem;
        text-align: left;
        letter-spacing: 0.1rem;
        color: black;
      }
    }
  }
}
