// **** Mobile Version Fixed Footer Black **** //
// For HEART Icon --> I know it is weird..

ul {
  li {
    a.search-link {
      color: black !important;
      @media (max-width: 577px) {
        color: white !important;
      }
    }
  }
}
.main-menu .menu-right .icon-nav .mobile-setting {
  @media (max-width: 577px) {
    bottom: 20px;
    right: 29% !important;
    font-size: 1rem !important;
    color: white;
  }
}

// Search Icon Link
.main-menu .menu-right .icon-nav .mobile-search {
  @media (max-width: 577px) {
    bottom: 20px;
    right: 75% !important;
    font-size: 1rem !important;
    color: white !important;
  }
}

// Homepage Icon Link --> 집모양 아이콘
.main-menu .menu-right .icon-nav .mobile-globe {
  @media (max-width: 577px) {
    bottom: 20px;
    right: 47% !important;
    font-size: 1rem !important;
    color: white !important;
  }
}

// User(Sign In) Icon Link
.main-menu .menu-right .icon-nav .mobile-person {
  @media (max-width: 577px) {
    //   정중앙을 원한다면!
    // right: 47% !important;
    right: 20% !important;
  }
}

.main-menu .menu-right .icon-nav .mobile-basket {
  @media (max-width: 577px) {
    right: 65% !important;
    color: white !important;
    > div {
      > a {
        color: white !important;
      }
    }
  }
}

// **** Mobile Version Carousel **** //

.small-slider .home-slider .home .slider-contain .photo-section {
  margin: 0 30% !important;
  p {
    font-size: 1rem;
  }
}

.small-slider .home-slider .home .slider-contain .photo-section {
  @media (max-width: 577px) {
    margin: 0 !important;
    p {
      font-size: 0.8rem;
    }
  }
}
