header.masthead {
  text-align: center;
  background-image: url("../assets/photos/couple-pool.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 40rem; }
  header.masthead .intro-text-bg {
    font-size: 3rem;
    color: black; }
  header.masthead .intro-text-sm {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: black; }

@media (max-width: 576px) {
  header.masthead {
    background-image: url("../assets/photos/login-couple.jpg");
    color: black; }
    header.masthead .intro-text-bg {
      font-size: 1.9rem;
      color: black; }
    header.masthead .intro-text-sm {
      font-size: 1.2rem;
      text-align: left;
      letter-spacing: 0.1rem;
      color: black; } }

@media (max-width: 576px) {
  header.masthead2 {
    background-image: url("../assets/photos/login-couple.jpg");
    color: black; }
    header.masthead2 .intro-text-bg {
      font-size: 1.3rem;
      color: black; }
    header.masthead2 .intro-text-sm {
      font-size: 1rem;
      text-align: left;
      letter-spacing: 0.1rem;
      color: black; } }
