ul li a.search-link {
  color: black !important; }
  @media (max-width: 577px) {
    ul li a.search-link {
      color: white !important; } }

@media (max-width: 577px) {
  .main-menu .menu-right .icon-nav .mobile-setting {
    bottom: 20px;
    right: 29% !important;
    font-size: 1rem !important;
    color: white; } }

@media (max-width: 577px) {
  .main-menu .menu-right .icon-nav .mobile-search {
    bottom: 20px;
    right: 75% !important;
    font-size: 1rem !important;
    color: white !important; } }

@media (max-width: 577px) {
  .main-menu .menu-right .icon-nav .mobile-globe {
    bottom: 20px;
    right: 47% !important;
    font-size: 1rem !important;
    color: white !important; } }

@media (max-width: 577px) {
  .main-menu .menu-right .icon-nav .mobile-person {
    right: 20% !important; } }

@media (max-width: 577px) {
  .main-menu .menu-right .icon-nav .mobile-basket {
    right: 65% !important;
    color: white !important; }
    .main-menu .menu-right .icon-nav .mobile-basket > div > a {
      color: white !important; } }

.small-slider .home-slider .home .slider-contain .photo-section {
  margin: 0 30% !important; }
  .small-slider .home-slider .home .slider-contain .photo-section p {
    font-size: 1rem; }

@media (max-width: 577px) {
  .small-slider .home-slider .home .slider-contain .photo-section {
    margin: 0 !important; }
    .small-slider .home-slider .home .slider-contain .photo-section p {
      font-size: 0.8rem; } }
