$black: #000 !default;
// Color Preset
$color-yellow: #ffc107;
$color-black: #212121;
$color-dark-grey: #757575;
$color-light-grey: #bdbdbd;
$color-purple: #e040fb;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* Makes all the box-sizing get inherited from parents */
  box-sizing: inherit;
}

html {
  font-size: 0.87rem;
  -ms-overflow-style: scrollbar; // 5
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba($black, 0); // 6
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

pre {
  // Remove browser default top marginc
  margin-top: 0;
  // Reset browser default of `1em` to use `rem`s
  margin-bottom: 1rem;
  // Don't allow content to break outside
  overflow: auto;
  // We have @viewport set which causes scrollbars to overlap content in IE11 and Edge, so
  // we force a non-overlapping, non-auto-hiding scrollbar to counteract.
  -ms-overflow-style: scrollbar;
}

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

// 아래가 더 나음. 10px 이 기본값이 되기 때문에.
// html {
//   font-size: 62.5%;
// }

body {
  /* For power of inheritance, we specify in the body */
  /* Lato and if its not available, sans-serif */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* Line-height is 1.7times bigger than the pre-defined line height.*/
  line-height: 1.7;
  color: $color-black;
  /* change the box model so that the borders and the paddings are not added to the height and width of the box. */
  box-sizing: border-box;
}

// Remove all the effects of <a /> link!

a {
  text-decoration: none !important;
  &:hover {
    color: $color-black;
  }
}

// Remove all the effects of <input /> link!

input {
  &:focus,
  :hover,
  :active {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $color-black;
    text-decoration: none;
  }
}

// ********* Text/ Typography ********* //

.small-text {
  font-size: 0.8rem;
  color: $color-dark-grey;
}

.make-link-black {
  color: $color-black;
}

.landing-titles {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 600;
}

// ********* Etc ********* //
.catcnap-logo-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: $color-black;
}

.bg-login-image {
  background: url('../assets/photos/login-couple.jpg');
  background-position: center;
  background-size: cover;
}

.bg-signup-image {
  background: url('../assets/photos/sign-up-family.jpg');
  background-position: center;
  background-size: cover;
}
