@import 'color-variables.scss';
// $color-yellow: #FFC107;
// $color-black: #212121;
// $color-dark-grey: #757575;
// $color-light-grey: #BDBDBD;
// $color-purple: #E040FB;

body {
  color: $color-black;
}

html {
  font-size: 0.87rem;
}

// ********* Buttons ********* //
.border-radius-zero {
  border-radius: 0;
}

.btn-yellow {
  background-color: $color-yellow;
  color: $color-black;
  border-radius: 0;
  border: none;
}

.btn-clear {
  background: transparent;
  border: none;
}

.btn-naver {
  background-color: #00c73c;
}

.btn-google {
  background-color: #de5246;
}

// ********* Text/ Typography ********* //

.small-text {
  font-size: 0.8rem;
  color: $color-dark-grey;
}

.make-link-black {
  color: $color-black;
}

// ********* Input Box Placeholder Color Change ********* //

.form-control-user {
  &::placeholder {
    color: $color-dark-grey;
    font-size: 0.8rem;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-dark-grey;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-dark-grey;
  }
}

// ********* Input Box Border-radius 0 ********* //

#exampleInputEmail {
  border-radius: 0 !important;
  border-color: $color-light-grey;
}
#exampleInputPassword {
  border-radius: 0 !important;
  border-color: $color-light-grey;
}

// ********* Etc ********* //
.catcnap-logo-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: $color-black;
}

.bg-login-image {
  background: url('../assets/photos/login-couple.jpg');
  background-position: center;
  background-size: cover;
}

.bg-signup-image {
  background: url('../assets/photos/sign-up-family.jpg');
  background-position: center;
  background-size: cover;
}
